/* footer */
footer {
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 35px;
}
footer .btn, footer .btn:hover {
    background: none!important;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
footer a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 991px) {
    footer .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}