/* title */
.title {
  font-size: 60px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #cba2ff;
  text-align: center;
  margin: 0px;
}
.title-color {
  color: #cba2ff;
}

/* max width 991px */
@media screen and (max-width: 991px) {
  /* title */
  .title {
    font-size: 40px;
  }
}